@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
@import "tailwindcss";

@font-face {
    font-family: "iAWriterQuattroSRegular";
    src: url("../assets/fonts/iAWriterQuattroSRegular.ttf") format("truetype");
}

@theme {
    --font-family-primary: "Lora", serif;
    --font-family-secondary: "iAWriterQuattroSRegular", sans-serif;
    --color-primary: #0551CF;
}

@layer base {
    body {
        font-family: var(--font-family-secondary);
        @apply tracking-tight text-pretty;
    }
}

@layer components {
    .heading-display {
        @apply text-5xl;
        font-family: var(--font-family-primary);
        font-weight: 100;
    }

    .btn {
        @apply inline-block px-4 py-2 rounded-lg bg-primary text-white tracking-tight font-light;
    }
}

@layer utilities {
    .bg-grid {
        --grid-size: 24px;
        --grid-color: color-mix(in srgb, var(--color-primary) 12%, transparent);
        background-color: white;
        background-image:
            repeating-linear-gradient(
                to right,
                var(--grid-color),
                var(--grid-color) 1px,
                transparent 1px,
                transparent var(--grid-size)
            ),
            repeating-linear-gradient(
                to bottom,
                var(--grid-color),
                var(--grid-color) 1px,
                transparent 1px,
                transparent var(--grid-size)
            );
    }
}
